@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DumDum.Models.Entities.Player
<!DOCTYPE html>

<html>
<head>
    <title>
        Change your password
    </title>
</head>

<body>
@if (Model is not null)
{
    <h1>@Model.Username password change</h1>

    <form asp-action="PasswordChangeForm" asp-controller="DumDum" method="post">
        <label for="newPassword">New Password</label>
        <input name="newPassword" type="password"/>
        <input type="hidden" name="playerId" value="@Model.PlayerId"/>
        <button type="submit">Submit</button>
    </form>
}
else
{
    <h1>This link is not valid anymore</h1>
}
</body>
</html>